
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<div>
    <p class="h3">Education</p>
    <hr />

    <dl>
        <dt>Deggendorf University of Technology, Germany</dt>
        <dd>March 2019-Continued</dd>
        <dd>Master of Science in Applied Computer Science </dd>

    </dl>

    <dl>
        <dt>GIK Institute of Engineering Sciences and Technology Topi ,Pakistan</dt>
        <dd>2012 – 2016</dd>
        <dd>Bachelor of Science in Computer Engineering </dd>

    </dl>

    <dl>
        <dt> Edwardes College Peshawar,Pakistan</dt>
        <dd>2010 – 2012</dd>
        <dd>Pre Engineering </dd>

    </dl>




</div>